volumes:
  postgres_data:


networks:
  nextgen-local-network:
    external: true
    driver: bridge

services:
  postgres:
    build:
      context: .
      dockerfile: ./docker/local/postgres/Dockerfile
    container_name: db
    env_file:
      - ./envs/.env.local
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nextgen-local-network
